@using SellingMovieTickets.Models.Entities
@model IEnumerable<CategoryModel>

@if (Model != null && Model.Any())
{
    <ul class="navbar-nav mr-auto">
        @foreach (var item in Model)
        {
            <li class="nav-item active">
                <a asp-controller="Home" asp-action="Index" class="nav-link nav_item">@item.Name</a>
            </li>
        }
    </ul>
}