<link href="~/css/payment.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />

<div class="container my-5">
    <div class="row">
        <!-- Movie Information -->
        <div class="col-md-8">
            <div class="card seat-info">
                <h5 class="text-white fz-16">Thông tin phim</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="text-white fz-16">Phim<br><strong class="movieName"></strong></p>
                        <p class="text-white fz-16">Ngày giờ chiếu<br><strong class="movieTime text-warning"></strong></p>
                        <p class="text-white fz-16">Định dạng<br><strong class="movieFormat"></strong></p>
                    </div>
                    <div class="col-6 text-right">
                        <p class="text-white fz-16">Ghế<br><strong class="movieSeats"></strong></p>
                        <p class="text-white fz-16">Phòng chiếu<br><strong class="movieRoom"></strong></p>
                    </div>
                </div>
            </div>

            <div class="card mt-4 seat-info">
                <h5 class="text-white fz-16">Thông tin thanh toán</h5>
                <table class="table table-borderless text-white">
                    <thead>
                        <tr class="fz-16">
                            <th>Danh mục</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-right">Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fz-16">
                            <td class="listSeat">Ghế</td>
                            <td class="text-center totalTicket"></td>
                            <td class="text-right totalPrice"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card payment-method fz-16">
                <h5 class="text-white">Phương thức thanh toán</h5>
                <div>
                    <input class="payment" type="radio" id="vietqr" name="payment" value="vietqr" checked>
                    <label for="vietqr"><img src="~/media/image/vietqr.jpg" alt="VietQR" class="imgPaymentMethod">VietQR</label>
                </div>
                <div>
                    <input class="payment" type="radio" id="vnpay" name="payment" value="vnpay">
                    <label for="vnpay"><img src="~/media/image/vnpay.png" alt="VnPay" class="imgPaymentMethod">VnPay</label>
                </div>
                <div>
                    <input class="payment" type="radio" id="momo" name="payment" value="momo">
                    <label for="momo"><img src="~/media/image/momo.png" alt="MoMo" class="imgPaymentMethod">MoMo</label>
                </div>
            </div>
            <div class="card mt-4 total-info fz-16">
                <h5 class="text-white">Chi phí</h5>
                <div class="d-flex justify-content-between cost">
                    <p class="text-white">Thanh toán</p>
                    <p class="text-white totalPrice"></p>
                </div>
                <div class="d-flex justify-content-between cost">
                    <p class="text-white">Phí</p>
                    <p class="text-white"></p>
                </div>
                <div class="d-flex justify-content-between cost">
                    <p><strong class="text-white">Tổng cộng</strong></p>
                    <p><strong class="text-white totalPrice"></strong></p>
                </div>
                <button href="#" class="btn btn-pay mt-3" id="payButton">Thanh toán</button>
                <button href="#" class="btn btn-back mt-3" id="BackButton">Quay lại</button>

                <p class="mt-2" style="color: #F97316">Lưu ý: Không mua vé cho trẻ em dưới 13 tuổi đối với các suất chiếu phim kết thúc sau 22h00 và không mua vé cho trẻ em dưới 16 tuổi đối với các suất chiếu phim kết thúc sau 23h00.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            let seats = "";
            let totalPrice = 0;
            let countSeat = 0;

            const movieBooking = JSON.parse(localStorage.getItem('state'));
            $(document).ready(function () {
                if (movieBooking != null) {
                    init();
                    console.log(movieBooking);
                }
            });

            function init() {
                getSeats(movieBooking.items);
                $(".movieName").text(movieBooking.filmName);
                $(".movieTime").text(changeMovieTime(movieBooking.time));
                $(".movieFormat").text(movieBooking.movieFormat);
                $(".movieSeats").text(seats);
                $(".movieRoom").text(movieBooking.roomName);
                $(".listSeat").text("Ghế " + "(" + seats + ")");
                $(".totalTicket").text(movieBooking.items.length);
                $(".totalPrice").text(totalPrice + ".000đ");
            }

            function changeMovieTime(inputDate) {
                const date = new Date(inputDate);
                const hours = date.getHours().toString().padStart(2, '0');
                const minutes = date.getMinutes().toString().padStart(2, '0');
                const day = date.getDate().toString().padStart(2, '0');
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const year = date.getFullYear();
                const formattedDate = `${hours}:${minutes} - ${day}/${month}/${year}`;
                return formattedDate;
            }

            function getSeats(listSeat) {
                let seatNames = [];
                listSeat.forEach(item => {
                    totalPrice += item.seatPrice;
                    seatNames.push(item.seatName);
                });
                seats = seatNames.join(", ");
            }

            $('#payButton').on('click', function () {
                const selectedPayment = $('input[name="payment"]:checked').val();

                const paymentInfo = {
                    ShowTimeId: movieBooking.ShowTimeId,
                    PaymentType: selectedPayment,
                    TotalAmount: totalPrice,
                    OrderDetails: movieBooking.items.map(item => ({
                        SeatNumber: item.seatName,
                        Price: item.seatPrice
                    }))
                };

                console.log(paymentInfo);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Checkout", "Payment")',
                    contentType: 'application/json',
                    data: JSON.stringify(paymentInfo),
                    success: function (response) {
                        window.location.href = '@Url.Action("Success", "Payment")';
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        alert('Có lỗi xảy ra khi thanh toán.');
                    }
                });
            });


        });
    </script>
}